<h2>Кабинет админа</h2>
@using (Html.BeginForm("SHPRD", "Home", FormMethod.Post))
{
        <input type="submit" name="category" value="Ванны" class="btn"/><br />
        <input type="submit" name="category" value="Душевые кабинки" class="btn"/><br />
        <input type="submit" name="category" value="Унитазы" class="btn"/><br />
        <input type="submit" name="category" value="Производители" class="btn" /><br />
        <input type="submit" name="category" value="Заказы" class="btn" /><br />
        <input type="submit" name="category" value="Выполненые Заказы" class="btn" /><br />
        <input type="submit" name="category" value="Выход" class="btn" /><br />
}